sqlalchemy >= 1.0.0
sqlalchemy-migrate >= 0.9.0
weasyprint >= 0.42
passlib[bcrypt]
# install from apt-get or yum
# python-setuptools python-glade2 gettext python-passlib python-cairocffi python-cairosvg python-pdfrw

